<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vaultapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-feature android:name="android.hardware.fingtierprint" android:required="false" />


    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaultPplication">
        <activity android:name="com.example.vaultapplication.EditSiteActivity" android:label="Edit"  />
        <activity android:name="com.example.vaultapplication.SiteDetailsActivity" android:label="Site Details"  />
        <activity android:name="com.example.vaultapplication.AddSiteActivity" android:label="Add Site" />
        <activity android:name="com.example.vaultapplication.auth.AuthenticationActivity" />
        <activity android:name="com.example.vaultapplication.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.vaultapplication.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>